<!-- templates/base.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Django App{% endblock %}</title>
        <meta name="description" content="..." />

        <meta name="viewport" content="width=device-width, maximum-scale=5, initial-scale=1" />
        <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /><![endif]-->

        <!-- up to 10% speed up for external res -->
        <link rel="dns-prefetch" href="https://fonts.googleapis.com/" />
        <link rel="dns-prefetch" href="https://fonts.gstatic.com/" />
        <link rel="preconnect" href="https://fonts.googleapis.com/" />
        <link rel="preconnect" href="https://fonts.gstatic.com/" />
        <!-- preloading icon font is helping to speed up a little bit -->
        <link rel="preload" href="{% static 'assets/fonts/flaticon/Flaticon.woff2' %}" as="font" type="font/woff2" crossorigin />

        <link rel="stylesheet" href="{% static 'assets/css/core.min.css' %}" />
        <link rel="stylesheet" href="{% static 'assets/css/vendor_bundle.min.css' %}" />
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap" rel="stylesheet" />

        <!-- favicon -->
        <link rel="shortcut icon" href="favicon.ico" />
        <link rel="apple-touch-icon" href="demo.files/logo/icon_512x512.png" />
    </head>

    <body>
        <div id="wrapper">
            <!-- Header -->
            <header id="header" class="shadow-xs">
                <!-- TOP BAR -->
                <div id="top_bar" class="bg-light">
                    <!-- optional if body.header-sticky is present: add .js-ignore class to ignore autohide and stay visible all the time -->
                    <div class="container">
                        <div class="text-nowrap">
                            <!-- change with .scrollable-horizontal to horizontally scroll, if -only- no dropdown is present -->
                            <div class="d-flex justify-content-between">
                                <div class="d-inline-block float-start">
                                    <ul class="list-inline m-0">
                                        <!-- LANGUAGE -->
                                        <li class="dropdown list-inline-item m-0">
                                            <a id="topDDLanguage" href="#" class="py-2 d-inline-block" data-bs-toggle="dropdown" aria-expanded="false" aria-haspopup="true">
                                                <i class="flag flag-ps"></i>
                                                <span class="text-muted px-2">Arabic</span>
                                            </a>

                                            <div aria-labelledby="topDDLanguage" class="dropdown-menu dropdown-menu-hover p-1 pb-0 scrollable-vertical">
                                                <a href="#" class="active dropdown-item text-muted text-truncate lh-1 rounded mb-1">
                                                    <i class="flag flag-us"></i>
                                                    English
                                                </a>
                                                <a href="#" class="dropdown-item text-muted text-truncate lh-1 rounded mb-1">
                                                    <i class="flag flag-se"></i>
                                                    Swedish
                                                </a>
                                                <a href="#" class="dropdown-item text-muted text-truncate lh-1 rounded mb-1">
                                                    <i class="flag flag-fr"></i>
                                                    Francaise
                                                </a>
                                            </div>
                                        </li>
                                        <!-- /LANGUAGE -->

                                        <!-- CURRENCY -->
                                        <li class="dropdown list-inline-item m-0">
                                            <span class="text-muted">/</span>
                                            <!-- optional separator -->

                                            <a id="topDDCurrency" href="#" class="py-2 d-inline-block" data-bs-toggle="dropdown" aria-expanded="false">
                                                <span class="text-muted px-2">USD</span>
                                            </a>

                                            <div aria-labelledby="topDDCurrency" class="dropdown-menu dropdown-menu-hover text-uppercase text-center p-1 pb-0 w-auto">
                                                <a href="#" class="active dropdown-item text-muted text-truncate lh-1 rounded mb-1">
                                                    USD
                                                </a>
                                                <a href="#" class="dropdown-item text-muted text-truncate lh-1 rounded mb-1">
                                                    EUR
                                                </a>
                                                <a href="#" class="dropdown-item text-muted text-truncate lh-1 rounded mb-1">
                                                    GBP
                                                </a>
                                            </div>
                                        </li>
                                        <!-- /CURRENCY -->
                                    </ul>
                                </div>

                                <div class="d-inline-block float-end">
                                    <ul class="list-inline m-0">
                                        <li class="dropdown list-inline-item">
                                            <a href="tel:+01-555-5555" class="p-2 d-inline-block fw-medium"> <i class="float-start fi fi-phone"></i> (+01) 555-5555 </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /TOP BAR -->
                <!-- Navbar -->

                {% include 'navbar.html' %}

                <!-- /Navbar -->
            </header>
            <!-- /Header -->

            {% block content %} {% endblock %}

            <!-- start :: info color boxes -->
            <div class="section bg-theme-color-light">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-lg-6 mb-5">
                            <a href="#" class="d-block bg-gradient-primary text-white position-relative p-5 transition-hover-top transition-all-ease-250 rounded-xl text-center text-decoration-none h-100">
                                <span style="width: 100px; height: 100px;" class="badge bg-primary fs-1 rounded-pill rounded-circle">
                                    <i class="fi fi-smartphone mt-1"></i>
                                </span>

                                <h3 class="h4 mt-5">
                                    Smarty Showcase
                                </h3>

                                <p class="p-0 p-lg-5">
                                    Explore our best showcases of this year!
                                </p>

                                <!-- lines, looks like through a glass -->
                                <div class="absolute-full w-100 overflow-hidden opacity-9">
                                    <img class="img-fluid" width="2000" height="2000" src="{% static 'assets/images/masks/shape-line-lense.svg' %}" alt="..." />
                                </div>
                            </a>
                        </div>

                        <div class="col-12 col-sm-3 mb-5">
                            <a href="#" class="d-block bg-gradient-warning text-dark py-5 px-4 transition-hover-top transition-all-ease-250 rounded-xl text-center text-decoration-none h-100">
                                <span style="width: 100px; height: 100px;" class="badge bg-warning fs-1 rounded-pill rounded-circle">
                                    <i class="fi fi-support-1 mt-1"></i>
                                </span>

                                <h3 class="fs-4 mt-5 mb-0">
                                    Common Questions
                                    <small class="d-block mt-2">Already answered</small>
                                </h3>
                            </a>
                        </div>

                        <div class="col-12 col-sm-3 mb-5">
                            <a href="#" class="d-block bg-gradient-danger text-white py-5 px-4 transition-hover-top transition-all-ease-250 rounded-xl text-center text-decoration-none h-100">
                                <span style="width: 100px; height: 100px;" class="badge bg-danger fs-1 rounded-pill rounded-circle">
                                    <i class="fi fi-graduate mt-1"></i>
                                </span>

                                <h3 class="fs-4 mt-5 mb-0">
                                    Smarty Guides
                                    <small class="d-block mt-2">Learn more</small>
                                </h3>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end:: info color boxes -->

            <!-- start :: help center -->
            <div class="section">
                <div class="container">
                    <h2 class="display-5 fw-bold text-center mb-5">
                        Smarty Global
                    </h2>

                    <div class="row mb-7">
                        <a href="help-center-1-article.html" class="col-12 col-md-6 text-decoration-none text-dark shadow-xs-hover transition-hover-top transition-all-ease-250 py-4 rounded d-flex">
                            <i class="fi fi-send fs-1 px-3 text-primary"></i>

                            <div>
                                <h3 class="text-primary fs-5">Starting in seconds</h3>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed egestas egestas fringilla phasellus faucibus.
                                </p>
                            </div>
                        </a>

                        <a href="help-center-1-article.html" class="col-12 col-md-6 text-decoration-none text-dark shadow-xs-hover transition-hover-top transition-all-ease-250 py-4 rounded d-flex">
                            <i class="fi fi-mollecules fs-1 px-3 text-primary"></i>

                            <div>
                                <h3 class="text-primary fs-5">Smarty this year</h3>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed egestas egestas fringilla phasellus faucibus.
                                </p>
                            </div>
                        </a>

                        <a href="help-center-1-article.html" class="col-12 col-md-6 text-decoration-none text-dark shadow-xs-hover transition-hover-top transition-all-ease-250 py-4 rounded d-flex">
                            <i class="fi fi-graph fs-1 px-3 text-primary"></i>

                            <div>
                                <h3 class="text-primary fs-5">Smarty over time</h3>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed egestas egestas fringilla phasellus faucibus.
                                </p>
                            </div>
                        </a>

                        <a href="help-center-1-article.html" class="col-12 col-md-6 text-decoration-none text-dark shadow-xs-hover transition-hover-top transition-all-ease-250 py-4 rounded d-flex">
                            <i class="fi fi-umbrella fs-1 px-3 text-primary"></i>

                            <div>
                                <h3 class="text-primary fs-5">Smarty Updates</h3>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed egestas egestas fringilla phasellus faucibus.
                                </p>
                            </div>
                        </a>

                        <a href="help-center-1-article.html" class="col-12 col-md-6 text-decoration-none text-dark shadow-xs-hover transition-hover-top transition-all-ease-250 py-4 rounded d-flex">
                            <i class="fi fi-calendar fs-1 px-3 text-primary"></i>

                            <div>
                                <h3 class="text-primary fs-5">Smarty future challenges</h3>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed egestas egestas fringilla phasellus faucibus.
                                </p>
                            </div>
                        </a>

                        <a href="help-center-1-article.html" class="col-12 col-md-6 text-decoration-none text-dark shadow-xs-hover transition-hover-top transition-all-ease-250 py-4 rounded d-flex">
                            <i class="fi fi-cogs fs-1 px-3 text-primary"></i>

                            <div>
                                <h3 class="text-primary fs-5">Smarty quick setup</h3>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed egestas egestas fringilla phasellus faucibus.
                                </p>
                            </div>
                        </a>
                    </div>

                    <h2 class="display-5 fw-bold text-center mb-5">
                        Smarty University
                    </h2>

                    <div class="row mb-7">
                        <a href="help-center-1-article.html" class="border-bottom col-12 col-md-6 text-decoration-none text-dark shadow-xs-hover transition-hover-top transition-all-ease-250 py-4 d-flex">
                            <i class="fi fi-send fs-1 px-3 text-primary"></i>

                            <div>
                                <h3 class="text-primary fs-5">Starting in seconds</h3>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed egestas egestas fringilla phasellus faucibus.
                                </p>
                            </div>
                        </a>

                        <a href="help-center-1-article.html" class="border-bottom col-12 col-md-6 text-decoration-none text-dark shadow-xs-hover transition-hover-top transition-all-ease-250 py-4 d-flex">
                            <i class="fi fi-mollecules fs-1 px-3 text-primary"></i>

                            <div>
                                <h3 class="text-primary fs-5">Smarty this year</h3>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed egestas egestas fringilla phasellus faucibus.
                                </p>
                            </div>
                        </a>

                        <a href="help-center-1-article.html" class="border-bottom col-12 col-md-6 text-decoration-none text-dark shadow-xs-hover transition-hover-top transition-all-ease-250 py-4 d-flex">
                            <i class="fi fi-graph fs-1 px-3 text-primary"></i>

                            <div>
                                <h3 class="text-primary fs-5">Smarty over time</h3>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed egestas egestas fringilla phasellus faucibus.
                                </p>
                            </div>
                        </a>

                        <a href="help-center-1-article.html" class="border-bottom col-12 col-md-6 text-decoration-none text-dark shadow-xs-hover transition-hover-top transition-all-ease-250 py-4 d-flex">
                            <i class="fi fi-umbrella fs-1 px-3 text-primary"></i>

                            <div>
                                <h3 class="text-primary fs-5">Smarty Updates</h3>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed egestas egestas fringilla phasellus faucibus.
                                </p>
                            </div>
                        </a>
                    </div>

                    <div class="text-center">
                        <h2 class="text-center my-5">
                            Don't find your answer?
                        </h2>

                        <a href="contact-1.html" class="btn btn-lg btn-primary btn-soft"> Contact <b>Smarty</b> Support </a>
                    </div>
                </div>
            </div>
            <!-- end :: help center -->

            <!-- CTA -->
            <div class="section bg-theme-color-light">
                <div class="container text-center">
                    <h2 class="mb-5 mx-auto col-lg-6">
                        Try now for 30 days and see which plan is right for you
                    </h2>

                    <a href="#" class="btn btn-lg btn-primary transition-hover-top px-4 d-block-xs">
                        <i class="fi fi-layers"></i>
                        <b class="fw-medium">START</b> FOR <b class="fw-medium">FREE</b>
                    </a>
                </div>
            </div>
            <!-- /CTA -->

            <!-- Footer -->
            {% include 'footer.html' %}
            <!-- /Footer -->
            
        </div>
        <!-- /#wrapper -->

        <!-- SOW plugins -->
        <script src="{% static 'assets/js/core.min.js' %}"></script>

          <!-- Vendor plugins -->
        <script src="{% static 'assets/js/vendor_bundle.min.js' %}"></script>
        
    </body>
</html>
